PORT=3000

JWT_SECRET=please_generate_a_strong_random_secret
JWT_EXPIRE=7d

MONGO_USER=
MONGO_PASS=
MONGO_CLUSTER=
MONGO_DB=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-1
AWS_S3_BUCKET_NAME=
